<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <!-- 'yield' will automatically call the erb file
         specified in congress.rb.

         i.e. 'not_found' will return oops.erb
    -->
    <%= yield %>
  </body>
</html>
